<div>
  <h1>Welcome to Article management application</h1>
  <button onclick="window.open('/articles/new','_self')" class="btn btn-primary">New Article</button>
</div>
<div class="article_table">
<table class="table table-hover">
  <thead class="thead-dark " >
  <th>Id</th>
  <th>Title</th>
  <th>Action</th>
  </thead>
  <tbody>
  <% for element in @articles %>
    <tr>
      <td><%= element.id %></td>
      <td><%= element.title %></td>
       <td> <a href="/articles/<%= element.id %>">show</a></td>
  </tr>
  <%end %>

  </tbody>
</table>

</div>