<div class="center_div">
  <br>
  <h2>Listing all articles</h2>

</div>
<div class="paginate">
  <div class="flickr_pagination" >
    <%= will_paginate @users %>
  </div>
</div>
<%= render "articles" %>
