<div>

  <h2> <%=@article.title %> </h2>
  <h4>Description</h4>
  <p><%= @article.description %></p>
  <a href="/articles">Back to index</a>
  <br>
  <%= link_to "edit", edit_article_path(@article) %>
</div>
