<div class="edit_user_container">
  <h3>Welcome Back <span class="text-success"> <%= @user.username %></span></h3>

  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-primary" %>

  <h4>Listing all articles that you have created</h4>
</div>

<div class="paginate">
  <div class="flickr_pagination" >
    <%= will_paginate @articles %>
  </div>
</div>
<%= render "articles/articles" %>

