<div class="edit_user_container">
  <h3>Welcome Back <span class="text-success"> <%= @user.username %></span></h3>
  <% if logged_in? && ((@user.id == current_user.id)|| current_user.admin?) %>
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-primary" %>
<% end %>
  <h4>Listing all articles that you have created</h4>
</div>

<div class="paginate">
  <div class="flickr_pagination" >
    <%= will_paginate @articles %>
  </div>
</div>
<%= render "articles/articles" %>

