<div class="center_div">
  <h3>Welcome Back <span class="text-success"> <%= @user.username %></span></h3>
  <br>
  <h4>Listing all articles that gave been crated by you</h4>
</div>

<%= render "articles/articles" %>

