/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
.center_div{
    text-align: center;
}

.article_table{

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 2% 15%;
    background-color: palegoldenrod;
    border-radius: 15px;



}

.form_div{
    margin: 0 20%;

    border: 2px solid black;
    border-radius: 10px;
}
.form_div > *{
    padding: 20px;
}

.home_container{
    height: 70vh;
    background-color: palegoldenrod;
    margin: 2% 15%;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_form{
    margin: 2% 15%;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.users_container{
    margin: 2% 15%;
}
.edit_user_container{
    text-align: center;
    padding: 15px;
}
.edit_user_container > *{
    margin: 1% 0%;
}